<nav class="navbar">
  <a class="navbar__brand" routerLink="/">Checkmate</a>

  @if (!isAuthPage() && isConnected()) {
  <ul class="navbar__links">
    <li>
      <a routerLink="/tournament" routerLinkActive="active">
        <img src="tournoi.png" alt="" class="nav-icon" />
        <span class="nav-label">Tournois</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <img src="dashboard.png" alt="" class="nav-icon" />
        <span class="nav-label">Dashboard</span>
      </a>
    </li>
    @if (isAdmin()) {
      <li>
        <a routerLink="/admin/members" routerLinkActive="active">
          <img src="gestion-membres.png" alt="" class="nav-icon" />
          <span class="nav-label">Membres</span>
        </a>
      </li>
    }
  </ul>
  }

  <div class="navbar__actions">
    @if (isConnected()) {
      <div class="avatar-wrapper">
        <img [src]="gender() === 'F' ? 'avatar-woman.png' : gender() === 'M' ? 'avatar-man.png' : 'avatar-admin.png'" alt="Profil" class="avatar-img"
        />
        <div class="avatar-dropdown">
          <a routerLink="/profile">Mon profil</a>
          <button (click)="logout()">Se déconnecter</button>
        </div>
      </div>
    } @else {
      <a class="btn btn--login" routerLink="/auth/login">Connexion</a>
      <a class="btn btn--register" routerLink="/auth/register">Inscription</a>
    }
  </div>
</nav>
