<div class="detail-wrapper">
  @if (tournament()) {
    <div class="detail-card">
      <h1>{{ tournament()!.name }}</h1>
      <p><strong>Lieu :</strong> {{ tournament()!.location }}</p>
      <p><strong>Statut :</strong> {{ tournament()!.status }}</p>
      <p><strong>Elo :</strong> {{ tournament()!.minElo }} - {{ tournament()!.maxElo }}</p>
      <p><strong>Femmes uniquement :</strong> {{ tournament()!.womenOnly ? 'Oui' : 'Non' }}</p>
      <p><strong>Joueurs : </strong> {{ tournament()!.players?.length ?? 0 }} / {{ tournament()!.maxPlayers }}</p>
      @if (isAdmin()) {
        <a [routerLink]="['/admin/tournament', tournament()!.id]" class="btn-manage">Gérer ce tournoi</a>
      }
      @if (isConnected()) {
        <div class="actions">
          @if (tournament()!.isRegistered) {
            <button (click)="leave()">Se désinscrire</button>
          } @else {
            <button (click)="join()">S'inscrire</button>
          }
        </div>
      }
      @if (successMessage()) {
        <p class="success">{{ successMessage() }}</p>
      }
      @if (errorMessage()){
        <p class="error">{{ errorMessage() }}</p>
      }
      @if (scores().length > 0) {
        <h3>Classement</h3>
        <ul>
          @for (score of scores(); track score.player.id) {
            <li>{{ score.player.username }} — {{ score.score }} pts</li>
          }
        </ul>
      }
      @if (matches().length > 0) {
        <h3>Matchs en cours</h3>
        <ul>
          @for (match of matches(); track match.id) {
            <li>{{ match.whitePlayer.username }} vs {{ match.blackPlayer.username }}</li>
          }
        </ul>
      }
    </div>
  } @else {
    <p>Chargement...</p>
  }
</div>
